head{
    color: gray;
}

body{
  height: 1080px;
  padding: 0px;
  margin: 0px;
}
div.main{
  width: 100%;
  height: 100%;
}
div.side-bar{
  width:150px;
  height: 100%;
  background-color: #00b6c2;
  float: left;
  color: white;
  display: inline-block;
}
div.side-bar:hover{
  width: 200px;
  height: 100%;
  transition: width 0.2s;
}
div.header{
  display: inline-block;
  height: 70px;
  background-color: #cecece;
  float: left;
  position: relative;
}
div.main_view{
  width: 790px;
  height: 100%;
  float: left;
}
div.left-status-bar{
  width: 500px;
  height: 100%;
  float: left;
}
div.main-status{
  width: 1000px;
  height: 100%;
  float: left;
}
div.right-status-bar{
  width : 500px;
  height: 100%;
  float: left;
}

a{
  display: inline-block;
  text-decoration: none;
  color: #999999;
}
a:visited{
  text-decoration: none;
  color: #f0efef;
}
a:hover{
  color: white;
}
li{
  list-style-type: none;
}

li.side-bar{
    width: 150px;
    height: 40px;
    background-color: #00b6c2;
    border: 1px;
    text-align: left;
    padding: 0px;
    display: inline-block;
}

li.side-bar:hover{
  width: 200px;
  transition: 0.2s;
  background-color: #1c99a0;
}

li.side-bar:link{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #999999;
  /*display: inline-block;*/
}
li.side-bar:visited{
  text-decoration: none;
  color: #f0efef;
}
a.side-bar{
  display: block;
}
span{
  width: 50px;
  height: 50px;
}
a.header-top{
  display: inline-block;
  width: 70px;
  height: 40px;
}
