<!DOCTYPE html>
<link rel="stylesheet" href="./css/daou_home.css">
<script type="text/javascript", src="./js/daou_home.js"> </script>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Home-Xiilab</title>
  </head>
  <body>
    <div class="main">
      <div class="side-bar">
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon">호호</span><span>홈</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>전자결재</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>전자 문서함</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>보고</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>Works</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>ToDO+</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>캘린더</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>주소록</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>문서관리</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>게시판</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>예약</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>설문</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>근태관리</span></a></li>
        <li class="side-bar"><a href="#" class="side-bar"><span class="side-image-icon"></span><span>Link+</span></a></li>
      </div>
      <div class="header">

        <span ><button type="button" name="button">Tab</button></span>
        <span ><a href="#" class="header-top">전사 Portal</a></span>
        <span ><a href="#" class="header-top">+</a></span>
        <span ><input type="text" name="" value="통합검색"></span>
        <span ><a href="#" class="header-top">?</a></span>
        <span ><a href="#" class="header-top">alarm</a></span>
        <span ><a href="#" class="header-top">profile</a></span>
      </div>
      <div class="main_view">
        <div class="left-status-bar">
          <div class="status-manage">
            <div id="clock">
              <script>
                printClock();
              </script>
            </div>
            <div class="status-button">
              <button type="button" name="WorkOn">출근하기</button>
              <button type="button" name="WorkOff">퇴근하기</button>
              <button type="button" name="WorkStatus" onclick="">업무상태</button>
            </div>
          </div>
          <div class="status-profile">
            <div class="profile">
              <span class="photo"></span>
              <span class="info">
                <span class="name">김태우</span>
                <span class="position">주임연구원</span>
                <span class="part">인공지능개발팀</span>
              </span>
            </div>
            <ul class='type_simple_list_today_list'>
              <li>결재할 문서 : </li>
              <li>오늘의 일정 : </li>
              <li>작성할 보고 : </li>
            </ul>
          </div>
          <div class="status-report">

          </div>
        </div>
        <div class="main-status">
          mid
        </div>
        <div class="right-status-bar">
          right
        </div>
      </div>

    </div>

  </body>
</html>
