<!DOCTYPE html>
<link rel="stylesheet" type='text/css' href="css/style.css">

<script type="text/javascript" src=js/test.js>
  </script>
<head>
  <div class="top_part">
    <input type="button" name="home" value="Home">
    <div class="top_part_login">
      <input type="text" name="ID" value="ID">
      <input type="password" name="PW" value="PASSWORD">
      <input type="button" name="login" value="Login">
      <input type="button" name="find" value="비밀번호 찾기">
    </div>
  </div>
  hihihia
</head>
<br>

<body>

    <table>
      <thead>
        <script type="text/javascript">
          for(var i=0;i < board_column_list.length;i++){
            document.write("<th>"+board_column_list[i]+"</th>");
          };
        </script>
      </thead>
      <tbody>
        <script type="text/javascript">
          make_table(10,3);
        </script>
      </tbody>

    </table>

</body>
